{% extends "base.html" %}

{% block page_title %}
{{user_obj.first_name}}님의 마이페이지
{% endblock page_title %}

{% block content %}

<div class="min-h-75vh">
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

        <!-------------------------------------
        user_image 존재시 사진을  , 없으면 nickname 첫번째만 보여줌
        overflow-hidden : 넘치는 부분은 보이지 않게함
                    -------------------------------------------->

        {% include "mixins/user_image.html" with user=user_obj %}

        <div class="flex items-center">
            <span class="text-2xl mt-2 font-semibold">{{user_obj.first_name}}</span>

            {% if user_obj.is_superuser %}
            <i class="fas fa-check-circle text-teal-400 ml-1"></i>
            {% endif %}
        </div>

        <span class="font-semibold mt-2 text-lg">{{user_obj.email}}</span>

        {% if user == user_obj %}
        <a href="{% url 'users:update' %}" class="text-lg mt-3 font-bold  border-2 border-red-500 rounded-tr-lg py-px px-1">
            프로필 수정</a>
        {% endif %}

        <!-- {{hi}}-->
        <!--TODO : 예약한 방을 확인할수 있어야함
        forign_key를 방에다 걸어놔야됨
        사용자가 예약시 forign_key를 활성화시켜서 붙여놔야댐
        -->
    </div>

    {% if user_obj.room.all > 0 %}
    <div class="container mx-auto pb-10 flex flex-col items-center">
        <h3>{{user_obj.first_name}}님의 예약목록</h3>
        <div class="flex flex-wrap mx-40 mb-10">
            {% for room in user_obj.room.all %}
            {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}