{% extends "base.html" %}

{% block page_title %}
    {{room.name}}' 사진목록
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto my-32 flex flex-col">
           <div class="my-10 w-full ml-40">
            <a href="{% url 'rooms:add_photo' room.pk %}" class="btn-link w-1/6 block">사진등록</a>
        </div>

        {% for photo in room.photos.all  %}
            <div class="mx-auto  mb-3 border-2 p-4 border-gray-400 flex w-9/12 justify-between">

                <div class="flex ">
                    <img src="{{photo.file.url}}" class="w-48 h-48"/>
                    <span class="ml-10 text-2xl font-light">{{photo.title}}</span>
                </div>
                <div class="flex flex-col w-1/5 mt-8">
                    <a class="mb-5 btn-link bg-red-600 font-semibold" href="{% url 'rooms:delete_photo' room.pk photo.pk %}">삭제</a>
                    <a class="btn-link bg-teal-500 font-semibold " href="{% url 'rooms:edit_photo' room.pk photo.pk %}">이름 변경</a>
                </div>

            </div>
        {% endfor %}
  <div class="flex justify-center mt-5">
            <a href="{% url 'rooms:edit' room.pk %}" class="text-teal-500 font-semibold text-xl">뒤로가기</a>
        </div>
    </div>
{% endblock content %}